@using RecruitmentQUIZ.Models

@{
    ViewBag.Title = "Home Page";
}

<h2>home page</h2>

<h3>Here we describ the goal of this exam session</h3>

@using (Html.BeginForm("Start","Home",FormMethod.Post))
{



    <input type="submit" name="name" value="Start Exam" formaction="/Home/Start" />
}



