
@{
    ViewBag.Title = "EndSection";
}

<style>
	.divcenter {
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 70%;
		height: 25%;
		border-radius: 3px;
		padding: 2%;
	}

	footer {
		display: none;
	}
</style>

<h2>End Section</h2>

<div class="divcenter">
	<div class="panel panel-default">
		<div class="panel-body">
			@ViewBag.Message
		</div>
	</div>
</div>


