
@{
    ViewBag.Title = "Resultats";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<h2>Resultats par projet</h2>




<script src="~/Content/assets/js/jquery-1.7.1.min.js"></script>

<script>
    $(document).ready(function () {
            debugger;
            $("li,a").removeAttr('class');
            $('#4').addClass('active-link');
    });
</script>

