@model RecruitmentQUIZ.ViewModels.ProjetDetailsViewModel
@{
    ViewBag.Title = "AfficherProjetDetails";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<style>
    .SelectedCustomer {
        background-color: gray;
        font-weight: bold;
    }
</style>


@{

    if (Model.SelectedQuestion != null)
    {
        if (Model.DisplayMode == "ReadOnly")
        {
            Html.RenderPartial("ShowQuestion", Model.SelectedQuestion);
        }

        if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("EditQuestion", Model.SelectedQuestion);
        }

    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("InsertQuestion",
            new RecruitmentQUIZ.Models.Question());
    }

}

<br />
<br />


@using (Html.BeginForm("Index", "Question", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <span style="font-weight:bold">Projet  </span> : @Model.LeProjet.Libelle
        </div>
        <div class="panel-body">
            <div class="text-right">
                <input type="submit" name="name" value="Insert" formaction="/Question/new/@Model.LeProjet.ProjectID" class="btn btn-primary" />
            </div>
            <br />
            <table class="table table-hover">
                <tr>
                    <th>Libelle</th>
                    <th>Option</th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Questions)
                {
                    if (Model.SelectedQuestion != null)
                    {
                        if (item.QuestionID == Model.SelectedQuestion.QuestionID)
                        {
                            @:<tr class="SelectedCustomer">
                            }
                            else
                            {
                                @:<tr>
                            }
                        }
                        else
                        {
                            @:<tr>
                        }

                        <td>@item.Libelle</td>
                        if (item.EstMultiChoix)
                        {
                            <td><span>Multiple Reponses</span></td>
                        }
                        else
                        {
                            <td><span>Unique Reponse</span></td>
                        }

                              <td style="text-align:right">                                 

                                  <button type="submit" formaction="/OptionReponse/Index/@item.QuestionID" class="btn btn-default"><i class="fa fa-search"></i></button>

                                  <button type="submit" formaction="/Question/select/@item.QuestionID" class="btn btn-success"><i class="fa fa-hand-o-down"></i></button>

                                  <button type="submit" formaction="/Question/delete/@item.QuestionID" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>


                              </td>

                    @:</tr>


                }
            </table>
        </div>
    </div>
}

<script src="~/Content/assets/js/jquery-1.7.1.min.js"></script>

<script>
    $(document).ready(function () {
            debugger;
            $("li,a").removeAttr('class');
            $('#2').addClass('active-link');
    });
</script>


