
@model RecruitmentQUIZ.Models.Projet

@using (Html.BeginForm("Update", "Projet", FormMethod.Post))
{
	<table class="table table-condensed">
		<tr>
			<td> Projet ID :</td>
			<td>@Html.TextBoxFor(m => m.ProjectID, new { @readonly="readonly" })  </td>
		</tr>
		<tr>
			<td> Libellé :</td>
			<td>@Html.TextBoxFor(m => m.Libelle, htmlAttributes: new { @class ="form-control"})  </td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="Edit" formaction="/Projet/update" class="btn btn-success"/>
				<input type="submit" value="Cancel" formaction="/Projet/cancel/@Model.ProjectID" class="btn btn-default"/>
			</td>
		</tr>
	</table>
}