@model RecruitmentQUIZ.ViewModels.ProjetsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<style>
    .SelectedCustomer {
        background-color: gray;
        font-weight: bold;
    }
</style>


@{

    if (Model.SelectedProjet != null)
    {
        if (Model.DisplayMode == "ReadOnly")
        {
            Html.RenderPartial("ShowProjet", Model.SelectedProjet);
        }

        if (Model.DisplayMode == "ReadWrite")
        {
            Html.RenderPartial("EditProjet", Model.SelectedProjet);
        }

    }
    if (Model.DisplayMode == "WriteOnly")
    {
        Html.RenderPartial("InsertProjet",
            new RecruitmentQUIZ.Models.Projet());
    }

}

<br />
<br />

@using (Html.BeginForm("Index", "Projet", FormMethod.Post))
{

    <input type="submit" name="name" value="Insert" formaction="/Projet/new" class="btn btn-primary" />
    <br />
    <br />
    <table class="table table-condensed">
        <tr>
            <th style="display:none">ProjetID</th>
            <th>Libelle</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Projets)
        {
            if (Model.SelectedProjet != null)
            {
                if (item.ProjectID == Model.SelectedProjet.ProjectID)
                {
                    @:<tr class="SelectedCustomer">
                    }
                    else
                    {
                        @:<tr>
                    }
                }
                else
                {
                    @:<tr>
                }

                <td style="display:none">@item.ProjectID</td>
                <td>@item.Libelle</td>

                <td style="text-align:right">

                    <button type="submit" formaction="/Question/Index/@item.ProjectID" class="btn btn-default"><i class="fa fa-search"></i></button>

                    <button type="submit" formaction="/Projet/select/@item.ProjectID" class="btn btn-success"><i class="fa fa-hand-o-down"></i></button>
                    
                    <button type="submit" formaction="/Projet/delete/@item.ProjectID" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>

                </td>

                @:<tr>
            }
</table>
}


<script src="~/Content/assets/js/jquery-1.7.1.min.js"></script>

<script>
    $(document).ready(function () {
            debugger;
            $("li,a").removeAttr('class');
            $('#2').addClass('active-link');
    });
</script>



