
@{
    ViewBag.Title = "DejaJouer";
}

<style type="text/css">
	 .divcenter {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 70%;
            height: 40%;
            border-radius: 3px;
            padding: 2%;
        }

	fieldset {
		background-color: #CCC;
		max-width: 100%;
		padding: 16px;
		text-decoration-style: dotted;
	}

	.legend1 {
		margin-bottom: 1rem;
		margin-left: 16px;
		text-transform: uppercase;
	}
</style>

<div class="divcenter">
   
    <div class="legend1">Désolé :(</div>
    <fieldset>
        <h3>Vous avez déja été évalué pour votre test de recrutement</h3>
    </fieldset>

</div>




