@model RecruitmentQUIZ.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layoutcnx.cshtml";
}


@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.LabelFor(model => model.Login)
    @Html.TextBoxFor(model => model.Login, new { placeholder = "Votre login"})

    @Html.LabelFor(model => model.Password)
    @Html.PasswordFor(model => model.Password, new { placeholder = "Votre mot de passe"})

    <div style="margin-top:10px">
        <input type="submit" name="Submit" value="Submit" class="btn btn-primary" />
    </div>

}


